.title {
    text-align: center;
    background: rgb(71, 70, 70);
    border-bottom: 2px solid rgb(252, 166, 166);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#result_box {
    border: 4px solid rgb(88, 19, 19);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    background: white;
}

#result_text_area {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(187, 179, 179);
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border: 0px;
}

#generate_button {
    margin-right: 30px;
    background: rgb(88, 19, 19);
    color: white;
    font-size: 26px;
    padding-right: 10px;
    padding-left: 10px;
}

#copy_button {
    margin-left: 30px;
    background: rgb(88, 19, 19);
    color: white;
    font-size: 26px;
    padding-right: 10px;
    padding-left: 10px;
}

.content {
    background: rgb(231, 226, 226);
    padding-bottom: 30px;
    border: 2px solid rgb(252, 166, 166);
    margin-top: 20px;
}